[tool.black]
line-length = 88
target-version = ["py310"]
extend-exclude = """
^(build|dependencies)/
"""

[tool.ruff]
target-version = "py310"
line-length = 88
extend-exclude = [
  "build",
  "dependencies",
]
select = ["E", "F"]
extend-ignore = ["E501"]
